{% extends 'base.html' %}

{% block title %}Your Wishlist{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Your Wishlist</h1>
    <div class="row">
        {% for property in properties %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                {% for media in property.media.all %}
                    {% if media.media_type == 'image' %}
                        <img src="{{ media.file.url }}" class="card-img-top" alt="{{ property.title }}">
                    {% elif media.media_type == 'video' %}
                        <video controls class="card-img-top">
                            <source src="{{ media.file.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% endif %}
                {% endfor %}
                <div class="card-body">
                    <h5 class="card-title">{{ property.title }}</h5>
                    <p class="card-text">{{ property.city }}, {{ property.state }}</p>
                    <p class="card-text">${{ property.price }}</p>
                    <a href="{% url 'remove_from_wishlist' property.id %}" class="btn-wishlist">Remove from Wishlist</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
